body {
  text-align: center;
  font-family: "helvetica", "sans-serif";
}

.headersect {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-position-x: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.links a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
