body {
  text-align: center;
  font-family: "helvetica", "sans-serif";
}

.headersect {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.links a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.bgimgmain {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-position: center;
}

h4 {
  text-align: left;
  background-color: #696969;
}

span {
  font-size: 11px;
  color: white;
}
